.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  font-family: arial, sans-serif;
  padding: 16px;
  color: #878787;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
  margin-right: 10px;
  max-width: 300px;
}

.Weather .temperature {
  color: #212121;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  position: relative;
  top: 15px;
}

.Weather .unit {
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -18px;
}
